src/main/resources/wsdl/storage/pageable.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://jakub.slowikowski.pl/soap-example/pageable">

    <xs:complexType name="pageableXml">
        <xs:sequence>
            <xs:element name="size" type="xs:int"/>
            <xs:element name="page" type="xs:int"/>
            <xs:element name="sort" type="xs:string"/>
            <xs:element name="dir" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
