src/main/resources/wsdl/storage/ProductGroup.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://jakub.slowikowski.pl/soap-example/product-group" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jakub.slowikowski.pl/soap-example/product-group" targetNamespace="http://jakub.slowikowski.pl/soap-example/product-group">
    <wsdl:types>
        <xs:schema xmlns:abstract="http://jakub.slowikowski.pl/soap-example/abstract" xmlns:product="http://jakub.slowikowski.pl/soap-example/product" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jakub.slowikowski.pl/soap-example/product-group">
            <xs:import namespace="http://jakub.slowikowski.pl/soap-example/product" schemaLocation="product.xsd"/>
            <xs:import namespace="http://jakub.slowikowski.pl/soap-example/abstract" schemaLocation="abstract.xsd"/>
            <xs:complexType name="productGroupXml">
                <xs:complexContent>
                    <xs:extension base="abstract:abstractXmlType">
                        <xs:sequence>
                            <xs:element name="id" type="xs:long"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="description" type="xs:string"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="products" type="product:productXml"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="ProductGroupXmlObject">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="abstract:abstractXmlElement">
                            <xs:sequence>
                                <xs:element name="id" type="xs:long"/>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="description" type="xs:string"/>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="products" type="product:productXml"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAllProductGroupsRequest">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="abstract:abstractGetAllRequest">
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="FindProductGroupRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SaveProductGroupRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="products" type="product:productXml"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteProductGroupRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ProductGroupRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="FindProductGroupRequest">
        <wsdl:part element="tns:FindProductGroupRequest" name="FindProductGroupRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllProductGroupsRequest">
        <wsdl:part element="tns:GetAllProductGroupsRequest" name="GetAllProductGroupsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SaveProductGroupRequest">
        <wsdl:part element="tns:SaveProductGroupRequest" name="SaveProductGroupRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteProductGroupRequest">
        <wsdl:part element="tns:DeleteProductGroupRequest" name="DeleteProductGroupRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ProductGroupRequest">
        <wsdl:part element="tns:ProductGroupRequest" name="ProductGroupRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ProductGroupPort">
        <wsdl:operation name="FindProductGroup">
            <wsdl:input message="tns:FindProductGroupRequest" name="FindProductGroupRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="GetAllProductGroups">
            <wsdl:input message="tns:GetAllProductGroupsRequest" name="GetAllProductGroupsRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="SaveProductGroup">
            <wsdl:input message="tns:SaveProductGroupRequest" name="SaveProductGroupRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="DeleteProductGroup">
            <wsdl:input message="tns:DeleteProductGroupRequest" name="DeleteProductGroupRequest">
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ProductGroup">
            <wsdl:input message="tns:ProductGroupRequest" name="ProductGroupRequest">
            </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProductGroupPortSoap11" type="tns:ProductGroupPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="FindProductGroup">
            <soap:operation soapAction=""/>
            <wsdl:input name="FindProductGroupRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="GetAllProductGroups">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetAllProductGroupsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="SaveProductGroup">
            <soap:operation soapAction=""/>
            <wsdl:input name="SaveProductGroupRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="DeleteProductGroup">
            <soap:operation soapAction=""/>
            <wsdl:input name="DeleteProductGroupRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="ProductGroup">
            <soap:operation soapAction=""/>
            <wsdl:input name="ProductGroupRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProductGroupPortService">
        <wsdl:port binding="tns:ProductGroupPortSoap11" name="ProductGroupPortSoap11">
            <soap:address location="http://s0291:8081/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>