src/main/resources/wsdl/car.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://swiderski.com/rental-service/schema/car" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://swiderski.com/rental-service/schema/car">

    <wsdl:types>
        <xs:schema targetNamespace="http://swiderski.com/rental-service/schema/car" elementFormDefault="qualified">
            <xs:include schemaLocation="../schema/car.xsd"/>
        </xs:schema>
    </wsdl:types>


    <!--Define input and output parameters -->
    <wsdl:message name="getCar">
        <wsdl:part name="in" element="tns:CarRequest"/>
    </wsdl:message>
    <wsdl:message name="getCars">
        <wsdl:part name="in" element="tns:CarListRequest"/>
    </wsdl:message>
    <wsdl:message name="addCar">
        <wsdl:part name="in" element="tns:Car"/>
    </wsdl:message>
    <wsdl:message name="deleteCar">
        <wsdl:part name="in" element="tns:CarDeleteRequest"/>
    </wsdl:message>
    <wsdl:message name="getResponse">
        <wsdl:part name="out" element="tns:Car"/>
    </wsdl:message>
    <wsdl:message name="listResponse">
        <wsdl:part name="out" element="tns:CarList"/>
    </wsdl:message>

    <!--Define port definition -->
    <wsdl:portType name="carEndpoint">
        <wsdl:operation name="Car">
            <wsdl:input message="tns:getCar"/>
            <wsdl:output message="tns:getResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="carsEndpoint">
        <wsdl:operation name="Cars">
            <wsdl:input message="tns:getCars"/>
            <wsdl:output message="tns:listResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="addCarEndpoint">
        <wsdl:operation name="addCar">
            <wsdl:input message="tns:addCar"/>
            <wsdl:output message="tns:getResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="deleteCarEndpoint">
        <wsdl:operation name="deleteCar">
            <wsdl:input message="tns:deleteCar"/>
            <wsdl:output message="tns:getResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!--Bind Soap operation and service -->
    <wsdl:binding name="carBinding" type="tns:carEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Car">
            <soap:operation soapAction="http://swiderski.com/rental-service"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="deleteCarBinding" type="tns:deleteCarEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="deleteCar">
            <soap:operation soapAction="http://swiderski.com/rental-service"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="addCarBinding" type="tns:addCarEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addCar">
            <soap:operation soapAction="http://swiderski.com/rental-service"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:binding name="getCarsBinding" type="tns:carsEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Cars">
            <soap:operation soapAction="http://swiderski.com/rental-service"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <!--Define service -->
    <wsdl:service name="CarEndpointService">
        <wsdl:port name="carEndpoint" binding="tns:carBinding">
            <soap:address location="http://localhost:9090/javainuse/ws/getCar"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="AddCarEndpointService">
        <wsdl:port name="addCarEndpoint" binding="tns:addCarBinding">
            <soap:address location="http://localhost:9090/javainuse/ws/addCar"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="DeleteCarEndpointService">
        <wsdl:port name="deleteCarEndpoint" binding="tns:deleteCarBinding">
            <soap:address location="http://localhost:9090/javainuse/ws/deleteCar"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="GetCarsEndpointService">
        <wsdl:port name="getCarsEndpoint" binding="tns:getCarsBinding">
            <soap:address location="http://localhost:9090/javainuse/ws/getCars"/>
        </wsdl:port>
    </wsdl:service>


</wsdl:definitions>