src/main/resources/wsdl/client.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://swiderski.com/rental-service/schema/client" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://swiderski.com/rental-service/schema/client">

    <wsdl:types>
        <xs:schema targetNamespace="http://swiderski.com/rental-service/schema/client" elementFormDefault="qualified">
            <xs:include schemaLocation="../schema/client.xsd"/>
        </xs:schema>
    </wsdl:types>


    <!--Define input and output parameters -->
    <wsdl:message name="getClient">
        <wsdl:part name="in" element="tns:ClientRequest"/>
    </wsdl:message>
    <wsdl:message name="getClients">
        <wsdl:part name="in" element="tns:ListPageRequest"/>
    </wsdl:message>
    <wsdl:message name="addClient">
        <wsdl:part name="in" element="tns:Client"/>
    </wsdl:message>
    <wsdl:message name="deleteClient">
        <wsdl:part name="in" element="tns:ClientDeleteRequest"/>
    </wsdl:message>
    <wsdl:message name="clientResponse">
        <wsdl:part name="out" element="tns:Client"/>
    </wsdl:message>
    <wsdl:message name="listResponse">
        <wsdl:part name="out" element="tns:ClientList"/>
    </wsdl:message>

    <!--Define port definition -->
    <wsdl:portType name="clientEndpoint">
        <wsdl:operation name="Client">
            <wsdl:input message="tns:getClient"/>
            <wsdl:output message="tns:clientResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="clientsEndpoint">
        <wsdl:operation name="Clients">
            <wsdl:input message="tns:getClients"/>
            <wsdl:output message="tns:listResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="addClientEndpoint">
        <wsdl:operation name="addClient">
            <wsdl:input message="tns:addClient"/>
            <wsdl:output message="tns:clientResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="deleteClientEndpoint">
        <wsdl:operation name="deleteClient">
            <wsdl:input message="tns:deleteClient"/>
            <wsdl:output message="tns:clientResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!--Bind Soap operation and service -->
    <wsdl:binding name="clientBinding" type="tns:clientEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Client">
            <soap:operation soapAction="http://swiderski.com/rental-service"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="deleteClientBinding" type="tns:deleteClientEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="deleteClient">
            <soap:operation soapAction="http://swiderski.com/rental-service"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="addClientBinding" type="tns:addClientEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addClient">
            <soap:operation soapAction="http://swiderski.com/rental-service"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:binding name="getClientsBinding" type="tns:clientsEndpoint">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Clients">
            <soap:operation soapAction="http://swiderski.com/rental-service"
                            style="document"/>
            <wsdl:input>
                <soap:body parts="in" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="out" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <!--Define service -->
    <wsdl:service name="ClientEndpointService">
        <wsdl:port name="clientEndpoint" binding="tns:clientBinding">
            <soap:address location="http://localhost:9090/ws/getClient"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="AddClientEndpointService">
        <wsdl:port name="addClientEndpoint" binding="tns:addClientBinding">
            <soap:address location="http://localhost:9090/ws/addClient"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="DeleteClientEndpointService">
        <wsdl:port name="deleteClientEndpoint" binding="tns:deleteClientBinding">
            <soap:address location="http://localhost:9090/ws/deleteClient"/>
        </wsdl:port>
    </wsdl:service>

    <wsdl:service name="GetClientsEndpointService">
        <wsdl:port name="getClientsEndpoint" binding="tns:getClientsBinding">
            <soap:address location="http://localhost:9090/ws/getClients"/>
        </wsdl:port>
    </wsdl:service>


</wsdl:definitions>